<h1>BURGERS</h1>

<h2>Available Burgers Y'All!!</h2>

<ul>
    {{#each burgers}} {{#unless devoured}} {{>burger/burger-block devoured=true}} {{/unless}} {{/each}}
</ul>

<h2>Dees Burgers Been Eaten!!</h2>

<ul>
    {{#each burgers}} {{#if devoured}} {{> burgers/burger-block devoured=false}} {{/if}} {{/each}}
</ul>

<h1>Add A Dank Burger, YOOOOOOOO!!!</h1>
<form class="create-form">
    <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
    </div>

    <div class="form-group">
        <label for='devoured'>Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Devoured!<br>
        <input type="radio" name="devoured" value="0"> Available to be SMEATEN.
    </div>

    <button type="submit">All Ur Burgers R Belong To Us</button>
</form>